<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
	<div>
		<form action="${currentPage.path @ extension='html'}" method="get" name="form">
			<label for="name">Page name:</label>
			<input type="text" id="pname" name="pname" />
			<button type="submit">Search</button>
		</form>
		<div data-sly-use.model="com.adobe.training.summit.core.models.Search"></div>
		<div data-sly-list.item="${model.pageDetailsWithMap}">
			---------------Book : ${itemList.count}--------------
			<p> Book : <b>${item.title} </b></p>
			<p> Subject : <b>${item.path}</b> </p>
			<p> Publish : <b>${item.date}</b> </p>
		</div>
		<p id="result"></p>
		<input type="button" onclick="myFetcher()" value="Go to Google" />
		<script type="text/javascript">
			async function myFetcher() {
				await fetch('http://localhost:4502/content/summit/us/home/search.api.getDescription.html?test=test')
				.then(
					function (response) {
						if (response.status !== 200) {
							console.log('Looks like there was a problem. Status Code: ' +
								response.status);
							return;
						}
						response.text().then(function (data) {
							console.log("data:  " + data);
							var div = document.getElementById('result');
							div.innerHTML = data;
						});
					}
				)
				.catch(function (err) {
					console.log('Fetch Error :-S', err);
				})
			}
		</script>
	</div>
</body>

</html>


				
